.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  display: flex;
  justify-content: center;
  margin: 1rem;
  color:white;
  background-image: url(../public/Pictures/—Pngtree—blue\ technology\ background\ in\ the_1637476.png);
  background-size:cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.header{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  margin: 1rem;
}
.subHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  margin: 2rem;
}

.mainContent{
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 10px;
  background-color: rgba(11, 93, 84, 0.7);
}

.card{
    width: 200px;
    height: auto;
}

